body {
    background-color: #121212;
    color: #e0e0e0
    front-family: 'Segoe UI', sans-serif;}

h1, h2, h3 {
    color: #06bce0; 
    text-transform: uppercase
    letter-spacing: 2px;}

nav a {
    color: #cccccc; 
    text-decoration: underline;
    padding: 8px 0;  }

nav a:hover {
    color: #00d4ff;
    text-decoration: underline;}
nav ul {
    color: #cccccc; }
p {
    color: #f5fdff;}
 .sidebar {
    border-right: 1px solid #333;}
 footer { text-align: center; margin-top: 80px; color: #555; font-size: 0.8em; border-top: 1px solid #333; padding-top: 20px;}

.video-cyber {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 40px 0;}

.logo {width: 60px;
height: auto;
vertical-align: middle;}
.logo header {
    display: flex; 
    align-items: center;
    gap: 20px}

header h1 {
    white-space: nowrap; 
    margin: 0;}

body {
    background: radial-gradient(circle at top right, #0a192f, #000);
    color: #e6f1ff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;}

.log-caja {
    background: #000;
    color: #00ff00;
    font-family: 'Courier New', monospace;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba (0, 255, 0, 0.1);}

.entrada-log {
    margin: 5px 0;
    font-size: 0.9em;}
.log-caja:hover{
    border-color: #00d4ff;
    box-shadow: 0 0 15px rgba(0, 212, 255, 0.3);
    transition: 0.3s ease;}

@media (max-width: 768px) {
    .contenedor-principal {
        flex-direction: column;
    }
    .sidebar {
        border-right: none;
        border-bottom: 1px solid #333;
        margin-bottom: 20px;
    }
    .video-cyber video {
        width: 100%;
    }
}
body {
    background: radial-gradient(circle at top right, #0a192f, #000);
    min-height: 100vh;
    mergin: 0;
    color: #e6f1ff;
    font-family: 'Segoe UI', sans-serif;
}

.tech-stack {
    padding: 20px;
    margin-top: 50px;
}
.grid-herramientas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 15px;
}
.tarjeta {
    background: rgba (255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 212, 255, 0.3);
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    color: #e6f1ff;
    transition: 0.3s ease;

.tarjeta:hover {
    background: rgba (0, 212, 255, 0.1);
    border-color: #00d4ff;}

@media (min-width: 768px) {
    .grid-herramientas {
        grid-template-columns: repeat(4, 1fr);
    }
}
