body {
    background-color: #121212;
    color: #e0e0e0
    front-family: 'Segoe UI', sans-serif;
}

h1, h2, h3 {
    color: #00d4ff; 
    text-transform: uppercase
    letter-spacing: 2px;
}

nav {
    color: #eb3b75;
     text-decoration: none;
    front-weight: bold;
}
p {
    color: #f5fdff;

}
 .sidebar {
    border-right: 1px solid #333;

 }

