.contenedor-principal {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.sidebar {
    width: 250px;
    border-right: 2px solid #00ff41;
    padding: 20px;
}

.Contenido {
    padding: 20px;
    flex: 1;
}